body {
            background: #fff3e1;
            font: 14px/20px Arial, San-Serif;
            color: #555;
            margin: 0;
        }
        
        h1 {
            text-align: center;
            font-size: 180%;
            line-height: 120%;
            padding: 5% 0;
        }
        
        h2 {
            text-decoration: underline;
            line-height: 280%;
            padding-left: 2%;
        }
        
        h3 {
            line-height: 110%;
            padding: 5% 0;
        }
        
        p {
            padding: 1%;
        }
        
        img {
            text-align: center;
            max-width: 100%;
            height: auto;
            width: auto;
        }
        
        a {
            color: #FFF;
            text-decoration: none;
            font-weight: bold;
        }
        
        a:hover {
            color: #FFF;
            text-decoration: underline;
        }
        
        header {
            background: #008000;
            width: 100%;
            height: 86px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            opacity: 0.90;
        }
        
        nav {
            float: right;
            padding: 35px 20px 20px 0;
        }
        
        a:hover #menu-icon {
            border-radius: 4px 4px 0 0;
        }
        
        ul {
            list-style: none;
        }
        
        nav ul li {
            display: inline-block;
            float: left;
            padding: 10px;
        }
        
        .current {
            color: #FFF;
            text-decoration: underline;
        }
        
        #doc {
            margin: 40px 0;
        }
        
        #content {
            margin: 0 auto;
            max-width: 1140px;
            margin-top: 110px;
        }
        
        section {
            width: 29%;
            float: left;
            margin: 2% 2%;
            text-align: center;
        }
        
        .clear {
            clear: both;
        }
        
        .container {
            margin: 0 auto;
            text-align: center;
        }
        
        .links {
            padding: 20px;
            font-size: 35px;
            text-align: center;
            color: #008000;
            text-decoration: underline;
            display: inline;
        }
        
        .logo-pic {
            width: 100%;
            padding-top: 150px;
            padding-bottom: 75px;
        }
